*{padding: 0; margin: 0; box-sizing: border-box;}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('image/bake1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
nav{
    width: 100%;
    height: 80px;
    background-color: white;
    color:black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    position:fixed;
    top:0;
}

.logo{
    font-family: sans-serif;
    font-size: 2.5em;
}
.logo span{
    color: #964B00;
}

.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: 20px;
}
.menu a:first-child{
    color:#964B00;
}
.menu a:hover{
    color: #964B00;
}
.icon i{
    font-size: 20px;
}
.icon i:hover{
    color:#964B00;
}
.icon a{
    text-decoration: none;
    background: #964B00; 
    color: white;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 5px;
}
.h-text{
    color:white;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50% ,-50%);
    text-align: center;
}

.h-text h1{
    font-family: sans-serif;
    font-size: 3em;
    line-height: 1.5em;
}
.h-text input{
    width: 60%;
    padding: 20px;
    border: none;
    outline:none;
    font-size: 20px;
    border-radius: 8px;
}

.filter-gallery{
    padding: 100px;
}
.portfolio-menu{
    text-align: center;
    margin-bottom: 20px;
}
.portfolio-menu ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
}
.portfolio-menu ul li:hover{
    color:white;
    background: #e74c3c;
    border-radius: 8px;
}
li.active{
    color:white;
    background: #e74c3c;
    border-radius: 8px;
}
.portfolio-item{
    width: 100%;
}
.portfolio-item .item{
    width: 360px;
    height: 360px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}
.portfolio-item .item img{
    width: 100%;
    height:100%;
    border-radius: 8px;
}



